<template v-cloak>
    <div class="pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <h1 class="h1-pages">{{$router.currentRoute.meta.title}}</h1>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="container">
                <p>Онлайн аукцион «Арт-аукцион» - молодая и развивающаяся компания. Наша компания специализируется на сведении покупателя и продавца картин. С помощью рекламы мы привлекаем покупателей картин для художников. </p>
                <p>В свою очередь рекламой привлекаются и художники, пополняющие своими работами ассортимент нашего аукциона.</p>
                <p>Мы всегда рады сотрудничеству с деятелями искусства и готовы расширять наш бизнес вместе, на взаимовыгодных условиях.</p>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        metaInfo: {
            title: '«Арт-аукцион» — о компании',
            meta: [
                {
                    vmid: 'description',
                    property: 'description',
                    content: '«Арт-аукцион» — о компании. Подробнее о компании «Арт-аукцион» — молодой и развивающейся компании в сфере изобразительного искусства.'
                },
                {
                    vmid: 'og:title', property: 'og:title', content: '«Арт-аукцион» — о компании'
                },
                {
                    vmid: 'og:description',
                    property: 'og:description',
                    content: '«Арт-аукцион» — о компании. Подробнее о компании «Арт-аукцион» — молодой и развивающейся компании в сфере изобразительного искусства.'
                },
            ]
        },
        data() {
            return {
            }
        }
    }
</script>
