<template v-cloak>
    <div class="shop-area pt-95 pb-100 section-padding-3">
        <div class="container">
            <h1 class="h1-pages">Аукцион картин</h1>
            <p class="text-center mb-5">Купите картину на онлайн-аукционе «Арт-аукцион» просто и выгодно. На этой странице вы найдете перечень аукционов картин.</p>
            <div class="row flex-row-reverse">

                <div class="col-lg-12">
                    <div class="shop-top-bar">
                        <div class="select-shoing-wrap">
                            <div class="shop-select">
                                <v-select :options="types_sort" v-model="type_sort" :searchable="false"></v-select>
                            </div>
                        </div>
                        <label class="cursor">
                            Показывать завершенные
                            <input class="show_ended" type="checkbox" v-model="type_show_all"/>
                        </label>
                    </div>
                    <p class="mt-4" v-show="pagination">Показано {{pagination.from}}–{{pagination.to}} из {{pagination.total}} </p>
                    <div class="shop-bottom-area mt-15">
                        <div class="tab-content jump auctions-front">
                            <div id="shop-2" class="tab-pane active">
                                <masonry
                                    :cols="{default: 3, 991: 2, 580: 1}"
                                    :gutter="{default: '20px'}"
                                >
                                    <div class=" item shop-list-wrap shop-list-mrg2 shop-list-mrg-none mb-20" v-for="(auction,index) in auctions" :key="auction.id">
                                        <div class="bordered-product">
                                            <div>
                                                <div class="product-list-img" v-if="auction.images[0]">
                                                    <router-link  :to="{ name : 'auction', params: { id: auction.id } }">
                                                        <img :src="auction.images[0].path_min" :title="'Картина: ' + auction.name" :alt="'Картина: ' + auction.name">
                                                    </router-link>
                                                </div>
                                            </div>
                                            <div class="col-12 align-self-center">
                                                <div class="shop-list-content mt-2">
                                                    <h3><router-link  :to="{ name : 'auction', params: { id: auction.id } }">{{auction.name}}</router-link></h3>
                                                    <div class="shop-list-price-action-wrap">
                                                        <div class="shop-list-price-ratting">
                                                            <div class="ht-product-list-price">
                                                                <span class="new">{{auction.price}} руб.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div v-if="auction.end_date">
                                                            <span v-if="auction.ended">Завершен:</span>
                                                            <span v-else>Окончание:</span>
                                                            <span class="font-weight-bold">{{auction.end_date}} (МСК)</span></div>
                                                        <div>Ставок: <span class="font-weight-bold">{{auction.bids.length}}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </masonry>
                            </div>
                        </div>
                        <div class="pro-pagination-style text-center mt-30 mb-3" v-show="pagination">
                            <ul>
                                <li>
                                    <router-link :to="prev_link" class="prev">
                                        <i class="sli sli-arrow-left"></i>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/auctions">
                                        1
                                    </router-link>
                                </li>
                                <li v-show="show_left_dots">
                                    <a class="disabled">...</a>
                                </li>

                                <li v-for="page in between_pages">
                                    <router-link :to="page.link">
                                        {{page.number}}
                                    </router-link>
                                </li>
                                <li v-show="show_right_dots">
                                    <a class="disabled">...</a>
                                </li>
                                <li v-show="show_last">
                                    <router-link :to="last_page">
                                        {{pagination.last_page}}
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :to="next_link" class="next">
                                       <i class="sli sli-arrow-right"></i>
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import vSelect from 'vue-select';

    export default {
        metaInfo() {
            return {
                title: 'Онлайн аукцион картин — «Арт-аукцион»',
                meta: [
                    { vmid: 'description', property: 'description', content: 'Аукцион картин. Купить картину на онлайн-аукционе «Арт-аукцион» по выгодное цене. Произведения изобразительного искусства со всей России' },
                    { vmid: 'og:title', property: 'og:title', content: 'Аукцион картин — «Арт-аукцион»' },
                    { vmid: 'og:description', property: 'og:description', content: 'Аукцион картин. Купить картину на онлайн-аукционе «Арт-аукцион» по выгодное цене. Произведения изобразительного искусства со всей России' },
                    { vmid: 'robots', name: 'robots', content: this.notFirstPage ? 'noindex' : 'index' }
                ],
            }
        },
        data() {
            return {
                links:[],
                type_show_all: true,
                type_sort: {},
                types_sort: [
                    {
                        'label': 'По новизне',
                        'code': 'newest'
                    },
                    {
                        'label': 'Скоро заканчиваются',
                        'code': 'expired'
                    },
                    /*{
                        'label': 'Стоимость: по возрастанию',
                        'code': 'price_up'
                    },
                    {
                        'label': 'Стоимость: по убыванию',
                        'code': 'price_down'
                    },*/
                    {
                        'label': 'Кол-во ставок: по возрастанию',
                        'code': 'bids_up'
                    },
                    {
                        'label': 'Кол-во ставок: по убыванию',
                        'code': 'bids_down'
                    }
                ]
            }
        },
        components: {
            vSelect
        },
        computed: {
            ...mapGetters('auctions', {
                auctions: 'items',
                pagination: 'pagination',
                sort: 'sort',
                show_all: 'show_all'
            }),
            next_link() {
                if (this.pagination.last_page == 1) {
                    return '/auctions';
                }
                return (this.pagination.last_page == this.pagination.current_page) ? '/auctions?page='+this.pagination.last_page : '/auctions?page=' + (this.pagination.current_page + 1);
            },
            prev_link() {
                return (this.pagination.current_page == 1 || this.pagination.current_page == 2) ? '/auctions' : '/auctions?page=' + (this.pagination.current_page - 1);
            },
            last_page() {
                return '/auctions?page=' + this.pagination.last_page;
            },
            show_last() {
                return this.pagination.last_page>1;
            },
            notFirstPage() {
                return (this.$route.query.page || 1) > 1;
            },
            between_pages() {
                this.links = [];
                let start = this.pagination.current_page-2;
                let end = this.pagination.current_page+2;
                while (start <= 1) {
                    start++;
                }
                while (end >= this.pagination.last_page) {
                    end--;
                }
                let k = 0;
                for(let i = start; i <= end; i++) {
                    this.$set(this.links, k, {
                        link: '/auctions?page=' + i,
                        number: i
                    });
                    k++;
                }
                return this.links;
            },
            show_left_dots(){
                if (this.links[0] === undefined) {
                    return false;
                } else {
                    return this.links[0].number > 2;
                }
            },
            show_right_dots(){
                if(this.links.length == 0) {
                    return false;
                } else {
                    return this.links[this.links.length-1].number < (this.pagination.last_page-1)
                }
            }
        },
        watch: {
            type_sort: function(val){
                this.$store.commit('auctions/setSort', val.code);
                this.loadAuctions();
            },
            type_show_all: function(val){
                this.$store.commit('auctions/setShowAll', val);
                if (val == false && (this.$route.query.page || 1) > 1) {
                    Vue.router.push(Vue.router.resolve({name: 'auctions.list'}).href);
                } else {
                    this.loadAuctions();
                }
            }
        },
        methods: {
            setupSort() {
                this.type_sort = this.types_sort.find(type_sort => type_sort.code == this.sort)
            },
            loadAuctions(page) {
                if (page == undefined) {
                    page = false;
                }
                let data = {};
                if (page) {
                    data.page = page;
                } else {
                    data.page = this.$route.query.page || 1;
                }
                data.sort = this.sort;
                data.show_all = this.show_all;
                this.$store.dispatch('auctions/loadItems', data).then(() => {
                    this.setupSort();
                });
            }
        },
        created() {
            this.loadAuctions();
            this.type_show_all = this.show_all;
        },
    }
</script>
