<template v-cloak>
    <div class="product-details-area pt-100 pb-95" v-if="auction">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="product-details-img">
                        <div class="wrap-main-img" :class="{'oneImg': oneImg}">
                            <div class="zoom-div-wrap" @click="showZoom()">
                                <div title="Открыть" class="zoom-div">
                                    <i class="sli sli-magnifier-add"></i>
                                </div>
                            </div>
                            <img :src="mainImageSrc" class="mainImg" @click="showZoom()" :title="'Картина: ' + auction.name" :alt="'Картина: ' + auction.name"/>
                        </div>
                        <slick v-if="showSlider" ref="slick" class="mt-20 product-dec-slider mb-4" :options="slickOptions">
                            <div class="gallery-item" v-for="(picture, index) in pictures" :key="picture.key" @click="setMainImage(picture.src, index)" :data-index="index">
                                <div class="wrap-img-slide">
                                    <img :src="picture.src_min" :title="'Картина: ' + auction.name" :alt="'Картина: ' + auction.name">
                                </div>
                            </div>
                        </slick>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-content ml-30">
                        <h2>{{auction.name}}</h2>
                        <div class="product-details-price">
                            <span>{{current_bid}} руб.</span>
                        </div>
                        <div class="pro-details-list">
                            <ul class="mb-3">
                                <li>Минимальный шаг ставки: {{auction.step}} р.</li>
                            </ul>
                            <!--<b>Доступна безопасная сделка</b> -->
                            <p v-if="!waitStart">
                                Аукцион начался: {{bidFirst.date}} (МСК)
                            </p>
                            <p class="mb-3 mt-3">
                                <span v-if="waitStart">
                                    Аукцион начнется после первой ставки (бронирования) и окончится на следующий день в 21:05 (МСК)
                                </span>
                                <span v-else>
                                    <span v-show="counter > 0">
                                        До окончания аукциона осталось:
                                        <span>
                                            <span v-show="days != '00'">{{ days }} д</span> <span v-show="hours != '00'">{{ hours }} ч</span> <span v-show="minutes != '00'">{{minutes}} м</span> {{seconds}} с
                                        </span>
                                    </span>
                                    <span v-show="counter <= 0">
                                        Аукцион окончился {{auction.formatted_end_date}} (МСК)
                                    </span>
                                </span>
                            </p>
                            <router-link v-if="this.$auth.user().id" :to="routeMessage" class="btn-black" >
                                Сообщение продавцу
                            </router-link>
                            <a v-else @click.prevent="showAuthWithBackroute($router.resolve({ name : 'message', params: { to: auction.user_id }}).href)" href="#" class="btn-black">Сообщение продавцу</a>
                        </div>
                        <div v-if="!auction.ended">
                            <img src="/parlo/img/icon-img/payment.png" alt="Безопасная сделка" title="Безопасная сделка" width="140px">
                            <div class="pro-details-quality">

                                <div v-if="bidsEmpty" class="pro-details-cart btn-hover">
                                    <a @click.prevent="showConfirmBid()">Забронировать</a>
                                </div>
                                <div v-if="!bidsEmpty" class="cart-plus-minus">
                                    <input id="bid" ref="bid" class="cart-plus-minus-box" type="text" :value="inputedBid ? inputedBid :parseInt(current_bid)+auction.step" @input="setInputedBid($event.target.value)">
                                </div>
                                <div v-if="!bidsEmpty" class="pro-details-cart btn-hover">
                                    <a @click.prevent="showConfirmBid()">Сделать ставку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="description-review-area pb-95">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="description-review-wrapper">
                            <div class="description-review-topbar nav">

                                <a v-if="auction.description" class="active" data-toggle="tab" href="#des-details1">Описание</a>
                                <a :class="{'active': !auction.description}" data-toggle="tab" href="#des-details2">Ставки</a>
                                <a data-toggle="tab" href="#des-details3">Доставка и оплата</a>
                            </div>
                            <div class="tab-content description-review-bottom">
                                <div id="des-details1" class="tab-pane" :class="{'active': auction.description}">
                                    <div class="product-description-wrapper">
                                        <p>{{auction.description}}</p>
                                    </div>
                                </div>
                                <div id="des-details2" class="tab-pane" :class="{'active': !auction.description}">
                                    <div class="review-wrapper">
                                        <div v-if="bidsEmpty">Ваша ставка будет первой</div>
                                        <div class="single-review" v-for="(bid_item,index) in bids" :key="bid_item.id">
                                            <div class="review-content">
                                                <p>Ставка в {{bid_item.sum}} руб. от {{bid_item.user.login}}</p>
                                                <div class="review-top-wrap">
                                                    <div class="review-name">
                                                        <span class="date">{{bid_item.date}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-review" v-if="auction.ended">
                                            <div class="review-content">
                                                <p>Победитель аукциона: <span class="red">{{bids[bids.length-1].user.login}}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="des-details3" class="tab-pane">
                                    <div class="product-description-wrapper">
                                        <table class="tbl-desc">
                                            <tr >
                                                <td>Оплата:</td>
                                                <td>Банковский перевод. Безопасная сделка! (Продавец получит деньги только после получения вами картины)</td>
                                            </tr>
                                            <tr >
                                                <td>Доставка:</td>
                                                <td>Обговаривается с продавцом</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <transition name="modal">
            <div class="modal-mask modal-auth" v-if="wrongBidMessage">
                <div class="modal-wrapper">
                    <div class="modal-dialog modal-auth" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть" @click="closeWrongBidMessage()"><span aria-hidden="true">x</span></button>
                            </div>
                            <div class="modal-body text-center">
                                <p class="modal-text">{{wrongBidMessage}}</p>
                                <div class="mb-3">
                                    <button class="btn-black" @click="closeWrongBidMessage()">
                                        Ок
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="modal">
            <div class="modal-mask modal-auth" v-if="showBidded">
                <div class="modal-wrapper">
                    <div class="modal-dialog modal-auth" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть" @click="closeBidded()"><span aria-hidden="true">x</span></button>
                            </div>
                            <div class="modal-body text-center">
                                <p class="modal-text">Ваша ставка принята</p>
                                <div class="mb-3">
                                    <button class="btn-black" @click="closeBidded()">
                                        Ок
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <transition name="modal">
            <div class="modal-mask modal-auth modal-bid" v-if="bidConfirm">
                <div class="modal-wrapper">
                    <div class="modal-dialog modal-auth" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть" @click="closeBidConfirm()"><span aria-hidden="true">x</span></button>
                            </div>
                            <div class="modal-body text-center">
                                <p class="modal-text">Сделать ставку в {{curBid}} рублей</p>
                                    <button class="btn-black mb-3 mr-sm-2 mr-0" @click="bid">
                                        Да
                                    </button>
                                    <button class="btn-black mb-3 mr-sm-2 mr-0" @click="closeBidConfirm()">
                                        Нет
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <div class="winodow-shadow" v-show="zoomImage">
            <button class="close-custom" @click="closeZoom()"><span class="sli sli-close"></span></button>
            <div class="wrap-carousel">
                <carousel ref="carousel" :data="zoomCarouselData" :autoplay="false" :interval="1000000000" :controls="true"></carousel>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import Slick from 'vue-slick';
    import VueCarousel from '@chenfengyuan/vue-carousel';
    export default {
        components: {
            Slick,
            VueCarousel
        },
        metaInfo() {
            return {
                title: 'Аукцион — ' + this.auction.name,
                meta: [
                    { vmid: 'description', property: 'description', content: 'Картина — ' +  this.auction.name },
                    { vmid: 'og:title', property: 'og:title', content: 'Аукцион — ' + this.auction.name },
                    { vmid: 'og:description', property: 'og:description', content: 'Картина — ' +  this.auction.name },
                ],
            }
        },
        data() {
            return {
                slickOptions: {
                    infinite: false,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    prevArrow: '<span class="product-dec-icon product-dec-prev"><i class="sli sli-arrow-left"></i></span>',
                    nextArrow: '<span class="product-dec-icon product-dec-next"><i class="sli sli-arrow-right"></i></span>',
                    responsive: [{
                        breakpoint: 1199,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 991,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 575,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    }]
                },
                zoomImage: false,
                timer: null,
                seconds: 0,
                minutes: 0,
                hours: 0,
                days: 0,
                img_index: 0,
                bidConfirm: false,
            }
        },
        computed: {
            ...mapGetters('auctions', {
                auction: 'item',
                current_bid: 'current_bid',
                bids: 'bids',
                pictures: 'pictures',
                mainImageSrc: 'mainImageSrc',
                zoomCarouselData: 'zoomCarouselData',
                showBidded: 'showBidded',
                wrongBidMessage: 'wrongBidMessage',
                inputedBid: 'inputedBid',
                counter: 'counter',

            }),
            ...mapGetters('main', {
                showAuth: 'showAuth',
            }),
            bidsEmpty(){
                return this.bids.length < 1;
            },
            bidFirst(){
                return this.bids ? this.bids[0] : false;
            },
            showSlider() {
                return this.pictures.length > 1;
            },
            id() {
              return this.$route.params.id;
            },
            oneImg() {
                return this.pictures.length == 1;
            },
            routeMessage() {
                let role = this.$auth.user().role;
                if (role == this.$admin) {
                    return this.$router.resolve( { name : 'message.admin', params: { to: this.auction.user_id } }).href;
                } else {
                    return this.$router.resolve( { name : 'message', params: { to: this.auction.user_id } }).href;

                }
                   // return this.$router.resolve( { name : 'message', params: { to: this.auction.user_id } }).href;
                //{ name : 'message', params: { to: auction.user_id } }message.admin
            },
            curBid() {
                let bid = parseInt(this.current_bid);
                if (!this.bidsEmpty) {
                    bid = this.$refs.bid.value;
                }
                return bid;
            },
            waitStart() {
                return this.auction.formatted_end_date ? false : true;
            }
        },
        mounted() {
            this.$store.dispatch('auctions/loadItem', this.id).then(() => {
                this.startTimer();
                this.$store.commit('main/setBreadcrumbCustomTitle', this.auction.name);
            });
        },
        created(){
        },
        destroyed(){
            this.closeBidded();
            this.closeWrongBidMessage();
            this.stopTimer();
        },
        updated(){
        },
        methods: {
            showZoom(){
                this.zoomImage = true;
                this.hideMainScroll();
            },
            closeZoom(){
                this.zoomImage = false;
                this.$refs.carousel.slideTo(this.img_index);
                this.showMainScroll();
            },
            bid(){
                this.closeBidConfirm();
                this.$store.dispatch('auctions/bid', {bid: this.curBid, id: this.id}).then(() => this.startTimer());
            },
            setMainImage(src, index){
                let data = {};
                data.src = src;
                this.img_index = index;
                this.$refs.carousel.slideTo(index);
                this.$store.dispatch('auctions/setMainImageSrc', data);
            },
            closeBidded() {
                this.$store.commit('auctions/setShowBidded', false);
            },
            closeWrongBidMessage() {
                this.$store.commit('auctions/setWrongBidMessage','');
            },
            setInputedBid(val) {
                this.$store.commit('auctions/setInputedBid', val);
            },
            closeBidConfirm() {
                this.bidConfirm = false;
            },
            showConfirmBid() {
                this.bidConfirm = true;
            },
            startTimer() {
                this.timerChanger();
                this.timer = setInterval(() => {
                    this.timerChanger();
                }, 1000)
            },
            timerChanger(){
                this.$store.commit('auctions/setCounter', this.counter - 1);
                let sec = this.counter;
                //this.days = Math.floor(sec / (3600*24));
               // sec  -= this.days*3600*24;
               // this.days = this.days < 10 ? '0' + this.days : this.days;
                this.hours   = Math.floor(sec / 3600);
                sec  -= this.hours*3600;
                this.hours = this.hours < 10 ? '0' + this.hours : this.hours;
                this.minutes = Math.floor(sec / 60);
                sec  -= this.minutes*60;
                this.minutes = this.minutes < 10 ? '0' + this.minutes : this.minutes;
                this.seconds = sec < 10 ? '0' + sec : sec;
            },
            stopTimer() {
                clearTimeout(this.timer)
            },
        },
        watch: {
            counter(time) {
                if (time === 0) {
                    this.stopTimer()
                }
            }
        },
    }
</script>
