<template v-cloak>
    <nav>
        <ul>
            <li><router-link :to="{name: 'how.to.sell'}">{{ $router.resolve({name: 'how.to.sell'}).route.meta.title }}</router-link></li>
            <li><router-link :to="{name: 'how.to.buy'}">{{ $router.resolve({name: 'how.to.buy'}).route.meta.title }}</router-link></li>
            <li><router-link :to="{name: 'about.company'}">{{ $router.resolve({name: 'about.company'}).route.meta.title }}</router-link></li>
            <li v-if="this.$auth.user().id"><router-link :to="{name: 'message', params: { to: 1 } }">Связаться с нами </router-link></li>
            <li v-else><a href="#" @click.prevent="setShowAuth($router.resolve({name: 'message', params: {to: 1}}).href)">Связаться с нами </a></li>
        </ul>
    </nav>
</template>
<script>
    export default {
        data() {
            return {
            }
        }
    }
</script>
