<template v-cloak>
    <div class="login-register-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="alert alert-danger" v-if="has_error">
                        <p>Ошибка</p>
                    </div>
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <h4> Смена пароля </h4>
                        </div>
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form autocomplete="off" @submit.prevent="changePassword" method="post">
                                            <label :class="{'has-error' : has_error && errors.password}">
                                                <input type="password" id="password" placeholder="Пароль" v-model="password" required>
                                                <span class="help-block" v-if="has_error && errors.password">{{ errors.password[0] }}</span>
                                            </label>
                                            <label :class="{'has-error' : has_error && errors.password_confirmation}">
                                                <input type="password" id="password_confirmation" placeholder="Пароль" v-model="password_confirmation" required>
                                                <span class="help-block" v-if="has_error && errors.password_confirmation">{{ errors.password_confirmation[0] }}</span>
                                            </label>
                                            <div class="button-box">
                                                <button type="submit">Сменить пароль</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        data() {
            return {
                password: '',
                password_confirmation: '',
            }
        },
        components: {
            vSelect
        },
        methods: {
            changePassword() {
                Vue.axios.post('/auth/changePassword', {
                    email: this.$route.query.email,
                    access_hash: this.$route.params.access_hash,
                    password: this.password,
                    password_confirmation: this.password_confirmation
                })
                .then(data => {
                    if (data.data.success) {
                        this.$router.push({name: 'login'});
                    } else {
                        this.$store.commit('main/setHasError', true);
                    }
                })
            }
        }
    }
</script>
