<template v-cloak>
    <div class="pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto text-center">
                    <h1 class="h1-pages">Страница не найдена 404!</h1>
                    <router-link :to="{name: 'home'}" style="font-size:18px">На главную</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>
