<template v-cloak>
    <div>
        <div class="slider-area section-padding-1">
            <div class="slider-active  nav-style-1">
                <carousel :navText="['<i class=\'' +'sli sli-arrow-left'+'\'></i>', '<i class=\''+'sli sli-arrow-right'+'\'></i>']" :animateOut="'fadeOut'"
                animateIn="'fadeIn'" :items="1" :dots="false" :nav="true" :loop="false" :responsive=" {0: {items: 1},768: {items: 1},1000: {items: 1}}" :autoplay="true" :autoplayTimeout="8000">
                    <div class="single-slider slider-height-1 bg-paleturquoise slide1">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-9 col-lg-9 col-md-9 col-12 col-sm-9 slide-text-box animated">
                                    <div class="slider-content slider-animated-1">
                                        <span class="animated h1">Купите картины просто</span>
                                        <p class="animated">Предлагайте свою ставку за картину в аукционе</p>
                                        <div class="slider-btn btn-hover">
                                            <router-link :to="{ name : 'auctions.list'}" class="animated">К аукционам</router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider slider-height-1 bg-paleturquoise slide2">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-9 col-lg-9 col-md-9 col-12 col-sm-9 slide-text-box animated">
                                    <div class="slider-content slider-animated-1">
                                        <span class="animated h1">Оригинальные работы</span>
                                        <p class="animated">Только оригинальные картины от художников со всего мира</p>
                                        <div class="slider-btn btn-hover">
                                            <router-link :to="{ name : 'auctions.list'}" class="animated">К аукционам</router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider slider-height-1 bg-paleturquoise slide3">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-9 col-lg-9 col-md-9 col-12 col-sm-9 slide-text-box animated">
                                    <div class="slider-content slider-animated-1">
                                        <span class="animated h1">Безопасная сделка</span>
                                        <p class="animated">Сделки защищены гарантом в лице нашего сайта. Продавец получит деньги только после получения вами картины.</p>
                                        <div class="slider-btn btn-hover">
                                            <router-link :to="{ name : 'auctions.list'}" class="animated">К аукционам</router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </carousel>
            </div>
        </div>
        <div class="container">
            <h1 class="text-center mt-5 mb-5">Онлайн аукцион картин</h1>
            <div class="row actions-wrap">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-center text-sm-right mb-3 mb-sm-0">
                    <router-link :to="{ name : 'how.to.buy'}" class="btn-red mr-sm-3 mr-0">Купить картину</router-link>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                    <router-link :to="{ name : 'how.to.sell'}" class="btn-red ml-sm-3 ml-0">Продать картину</router-link>
                </div>
            </div>
        </div>
        <div class="product-area pb-70 mt-70">
            <div class="container">
                <div class="section-title text-center pb-45">
                    <h2>Новые работы</h2>
                </div>
                <div class="arrivals-wrap scroll-zoom">
                    <div class="ht-products product-slider-active-2 jump auctions-front">
                        <!--Product Start-->
                            <div class="row">
                                <div class="shop-list-wrap shop-list-mrg2 shop-list-mrg-none mb-20 col-xl-4 col-md-6 col-lg-4 col-sm-6" v-for="(auction,index) in auctions" :key="auction.id">
                                    <div class="bordered-product">
                                        <div>
                                            <div class="product-list-img" v-if="auction.images[0]">
                                                <router-link :to="{ name : 'auction', params: { id: auction.id } }">
                                                    <img :src="auction.images[0].path_min" :title="'Картина: ' + auction.name" :alt="'Картина: ' + auction.name">
                                                </router-link>
                                            </div>
                                        </div>
                                        <div class="col-12 align-self-center">
                                            <div class="shop-list-content mt-2">
                                                <h3><router-link :to="{ name : 'auction', params: { id: auction.id } }">{{auction.name}}</router-link></h3>
                                                <div class="shop-list-price-action-wrap">
                                                    <div class="shop-list-price-ratting">
                                                        <div class="ht-product-list-price">
                                                            <span class="new">{{auction.price}} руб.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div v-if="auction.end_date">Окончание: <span class="font-weight-bold">{{auction.end_date}} (МСК)</span></div>
                                                    <div>Ставок: <span class="font-weight-bold">{{auction.bids.length}}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center col-12">
                                    <router-link class="btn-black" :to="{ name : 'auctions.list'}">Показать все</router-link>
                                </div>
                            </div>
                        <!--Product End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import carousel from 'vue-owl-carousel2';
    import {mapGetters} from 'vuex';
    export default {
        metaInfo: {
            title: '«Арт-аукцион» — онлайн аукцион картин',
            meta: [
                { vmid: 'description', property: 'description', content: '«Арт-аукцион» — онлайн аукцион картин. Приобретайте произведения изобразительного искусства со всей России по разумным ценам' },
                { vmid: 'og:title', property: 'og:title', content: '«Арт-аукцион» — онлайн аукцион картин' },
                { vmid: 'og:description', property: 'og:description', content: '«Арт-аукцион» - онлайн аукцион картин. Приобретайте произведения изобразительного искусства со всей России по разумным ценам' },
            ],
        },
        data() {
            return {
            }
        },
        computed: {
            ...mapGetters('auctions', {
                auctions: 'items'
            })
        },
        components: {
            carousel
        },
        created() {
            this.$store.dispatch('auctions/loadNewAuctions');
        },
    }
</script>
