<template v-cloak>
    <div class="pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <h1 class="h1-pages">{{$router.currentRoute.meta.title}}</h1>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="container">
                <p>Хотите продать свою картину?  С помощью нашего сайта вы получите хорошую рекламу и сможете реализовать своё творение. Для продажи нужно:
                    <router-link :to="{name: 'register',  query: { role: $artist }}" class="red-link">зарегистрироваться</router-link> как художник,
                    и
                    <router-link v-if="this.$auth.user().id" :to="{name: 'auction.create'}" class="red-link">создать аукцион</router-link>
                    <router-link v-else :to="{name: 'register',  query: { role: $artist, backroute: $router.resolve({name: 'auction.create'}).href}}" class="red-link">создать аукцион</router-link>, добавив минимум одну фотографию. Аукцион начинается после первой ставки и оканчивается на следующий день в 21:05 (МСК). После окончания аукциона, вам нужно будет подождать, пока покупатель не переведёт средства на наш счет. Об этом вас оповестит <router-link v-if="this.$auth.user().id" :to="{name: 'message', params: { to: 1 } }" class="red-link">администратор</router-link><a href="#" v-else class="red-link" @click.prevent="showAuthWithBackroute($router.resolve({name: 'message', params: {to: 1}}).href)">администратор</a> сайта в
                    личном кабинете, после чего вы договариваетесь с покупателем о доставке и отправляете картину. После получения клиентом картины, деньги будут переведены вам с учетом комиссии 10%.
                </p>
                <div class="text-center">
                    <router-link v-if="$auth.user().role == $artist" :to="{name: 'auction.create'}" class="btn-black">Продать картину</router-link>
                    <router-link v-if="!$auth.user().id" :to="{name: 'register', query: { role: $artist } }" class="btn-black">Продать картину</router-link>
                    <button v-if="$auth.user().id && $auth.user().role != $artist" class="btn-black" @click="registerArtistWithLogout()">Продать картину</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    export default {
        metaInfo() {
            return {
                title: 'Как продать картину',
                meta: [
                    { vmid: 'description', property: 'description', content: 'Как продать картину на аукционе — «Арт-аукцион»' },
                    { vmid: 'og:title', property: 'og:title', content: 'Как продать картину' },
                    { vmid: 'og:description', property: 'og:description', content:  'Как продать картину на аукционе — «Арт-аукцион»' },
                ],
            }
        },
        data() {
            return {
            }
        },
        methods: {
            registerArtistWithLogout() {
                this.$auth.logout({
                    redirect: {name: 'register', query: { role: this.$artist }},
                });
            }
        }
    }
</script>
