<template v-cloak>
    <div class="pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <h1 class="h1-pages">{{$router.currentRoute.meta.title}}</h1>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="container">
                <p>Сделайте ставку на понравившуюся вам картину. Все аукционы заканчиваются на следующий день в 21:05 после бронирования первым клиентом, необходимо чтобы ваша ставка продержалась на первом месте до этого времени. После победы в аукционе вам нужно сделать банковский перевод на счет нашей компании (будет в уведомлении от <router-link v-if="this.$auth.user().id" :to="{name: 'message', params: { to: 1 } }" class="red-link">администратора</router-link><a href="#" v-else class="red-link" @click.prevent="showAuthWithBackroute($router.resolve({name: 'message', params: {to: 1}}).href)">администратора</a>), после чего вы договариваетесь о доставке картины с продавцом.
                После получения вами картины, продавец получит деньги, иначе деньги будут возвращены.</p>
                <div class="text-center">
                    <router-link :to="{name: 'auctions.list'}" class="btn-black">Купить картину</router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        metaInfo() {
            return {
                title: 'Как купить картину на аукционе',
                meta: [
                    { vmid: 'description', property: 'description', content: 'Как купить картину на аукционе — «Арт-аукцион»' },
                    { vmid: 'og:title', property: 'og:title', content: 'Как купить картину на аукционе' },
                    { vmid: 'og:description', property: 'og:description', content:  'Как купить картину на аукционе — «Арт-аукцион»' },
                ],
            }
        },
        data() {
            return {
            }
        },
    }
</script>
