<template v-cloak>
    <div class="login-register-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="alert alert-danger" v-if="has_error">
                        <p>Ошибка. Неверный логин/пароль</p>
                    </div>
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <router-link :to="{ name : 'login' }" class="active">
                                <h4> Вход </h4>
                            </router-link>
                            <router-link :to="{ name : 'register' }">
                                <h4> Регистрация </h4>
                            </router-link>
                        </div>
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form autocomplete="off" @submit.prevent="login" method="post">
                                            <label>
                                                <input type="email" id="email" placeholder="Email" v-model="email" required>
                                            </label>
                                            <label>
                                                <input type="password" id="password" placeholder="Пароль" v-model="password" required>
                                            </label>
                                            <div class="button-box">
                                                <button type="submit">Войти</button>
                                                <router-link :to="{name: 'reset.password'}" class="forget-password">Забыли пароль?</router-link>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    export default {
        metaInfo: {
            title: '«Арт-аукцион» — вход.',
            meta: [
                { vmid: 'description', property: 'description', content: 'Введите логин и пароль чтобы войти' },
                { vmid: 'og:title', property: 'og:title', content: '«Арт-аукцион» — вход.' },
                { vmid: 'og:description', property: 'og:description', content: 'Введите логин и пароль чтобы войти' },
            ],
        },
        data() {
            return {
                email: null,
                password: null,
            }
        },
        mounted() {
        },
        methods: {
            login() {
                // get the redirect object
                var redirect = this.$auth.redirect();
                var app = this;
                this.$auth.login({
                    params: {
                        email: app.email,
                        password: app.password
                    },
                    success: function(data) {
                        // handle redirection
                        if (app.$route.query.backroute) {
                            this.$router.push(app.$route.query.backroute);
                            return;
                        }
                        if (!this.$auth.user().role) {
                            this.$store.commit('main/setHasError', true);
                            this.$store.commit('main/setExceptLogout', true);
                        } else {
                            const redirectTo = redirect ? redirect.from.name : this.$auth.user().role === 2 ? 'admin.dashboard' : 'dashboard'
                            this.$router.push({name: redirectTo})
                        }
                    },
                    error: function(data) {
                        this.$store.commit('main/setHasError', true);
                    },
                    rememberMe: true,
                    fetchUser: true
                })
            }
        }
    }
</script>
