<template v-cloak>
    <nav class="nav-login">
        <ul>
            <!--UNLOGGED-->
            <li v-if="!$auth.user().id" v-for="(route, key) in routes.unlogged" v-bind:key="route.path">
                <router-link  :to="{ name : route.path }" :key="key">
                    {{route.name}}
                </router-link>
            </li>
            <!--LOGGED USER-->
            <li v-if="$auth.user().id" v-for="(route, key) in  $auth.user().role == $admin ? routes.adminUser : routes.user" v-bind:key="route.path">
                <router-link  :to="{ name : route.path }" :key="key">
                    {{route.name}}
                </router-link>
            </li>
            <!--LOGOUT-->
            <li v-if="$auth.user().id">
                <a href="#" @click.prevent="$auth.logout()">Выйти</a>
            </li>
        </ul>
    </nav>
</template>
<script>
    export default {
        data() {
            return {
                routes: {
                    // UNLOGGED
                    unlogged: [
                        {
                            name: 'Регистрация',
                            path: 'register'
                        },
                        {
                            name: 'Вход',
                            path: 'login'
                        }
                    ],
                    // LOGGED USER
                    user: [
                        {
                            name: 'Аккаунт',
                            path: 'dashboard'
                        }
                    ],
                    // LOGGED ADMIN USER
                    adminUser: [
                        {
                            name: 'Аккаунт',
                            path: 'admin.dashboard'
                        }
                    ]
                }
            }
        },
        mounted() {
            //
        }
    }
</script>
