<template v-cloak>
    <div class="login-register-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="alert alert-danger" v-if="has_error && !success">
                        <p v-if="error == 'registration_validation_error'">Поля заполнены неверно</p>
                        <p v-else>Ошибка</p>
                    </div>
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <router-link :to="{ name : 'login' }" >
                                <h4> Вход </h4>
                            </router-link>
                            <router-link :to="{ name : 'register' }" class="active">
                                <h4> Регистрация </h4>
                            </router-link>
                        </div>
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form autocomplete="off" @submit.prevent="register" method="post">
                                            <label :class="{'has-error' : has_error && errors.login}">
                                                <span class="help-note"><span class="red">*</span>Только латинские буквы, цифры и символы «-», «_»</span>
                                                <input type="text" id="login" ref="login" placeholder="Логин" v-model="login" autocomplete="off">
                                                <span class="help-block" v-if="has_error && errors.login">{{ errors.login[0] }}</span>
                                            </label>
                                            <label :class="{'has-error' : has_error && errors.email}">
                                                <input type="email" id="email" placeholder="Email" v-model="email"  autocomplete="off">
                                                <span class="help-block" v-if="has_error && errors.email">{{ errors.email[0] }}</span>
                                            </label>
                                            <div :class="{'has-error' : has_error && errors.role}">
                                                <v-select :options="roles" v-model="role" :searchable="false"></v-select>
                                                <span class="help-block" v-if="has_error && errors.role">{{ errors.role[0] }}</span>
                                            </div>
                                            <label :class="{'has-error' : has_error && errors.password}">
                                                <input type="password" id="password" placeholder="Пароль" v-model="password" autocomplete="off">
                                                <span class="help-block" v-if="has_error && errors.password">{{ errors.password[0] }}</span>
                                            </label>
                                            <label>
                                                <input type="password" id="password_confirmation" placeholder="Повторите пароль" v-model="password_confirmation" autocomplete="off">
                                            </label>
                                            <div class="button-box">
                                                <button type="submit">Зарегистрироваться</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        metaInfo: {
            title: '«Арт-аукцион» — регистрация.',
            meta: [
                { vmid: 'description', property: 'description', content: 'Зарегистрируйтесть на ауцкионе «Арт-аукцион»' },
                { vmid: 'og:title', property: 'og:title', content: '«Арт-аукцион» — регистрация.' },
                { vmid: 'og:description', property: 'og:description', content: 'Зарегистрируйтесть на ауцкионе «Арт-аукцион»' },
            ],
        },
        data() {
            return {
                login: '',
                email: '',
                password: '',
                role: '',
                password_confirmation: '',
                error: false,
                success: false
            }
        },
        created() {
            this.$store.dispatch('user/loadClientRoles').then(() => this.setupRole());
        },
        computed: {
            ...mapGetters('user', {
                roles: 'roles',
            })
        },
        components: {
            vSelect
        },
        methods: {
            setupRole() {
                if (this.$route.query.role) {
                    this.role = this.roles.find(role => role.code == this.$route.query.role)
                } else {
                    this.role = this.roles[0];
                }
            },
            register() {
                var app = this;
                this.$auth.register({
                    data: {
                        email: app.email,
                        password: app.password,
                        password_confirmation: app.password_confirmation,
                        role: app.role.code,
                        login: app.login
                    },
                    success: function (res) {
                        if (res.data.status == 'success') {
                            app.success = true;
                            this.$router.push({name: 'login', params: {successRegistrationRedirect: true}, query: {backroute: app.$route.query.backroute}});
                        }
                        if (res.data.status == 'error') {
                            app.error = res.data.error;
                        }
                    },
                    error: function (res) {
                        app.error = res.response.data.error || ''
                    }
                })
            }
        }
    }
</script>
