<template v-cloak>
    <div class="login-register-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="alert alert-danger" v-if="has_error">
                        <p>Ошибка</p>
                    </div>
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <h1> Сброс пароля </h1>
                        </div>
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form autocomplete="off" @submit.prevent="resetPassword" method="post" v-if="!showSended">
                                            <label :class="{'has-error' : has_error && errors.email}">
                                                <input type="text" id="email" placeholder="Email" v-model="email" required>
                                                <span class="help-block" v-if="has_error && errors.email">{{ errors.email[0] }}</span>
                                            </label>
                                            <div class="button-box">
                                                <button type="submit">Сбросить пароль</button>
                                            </div>
                                        </form>
                                        <div v-else>Сообщение с ссылкой для сброса пароля отправлено на почту {{email}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    export default {
        data() {
            return {
                email: '',
                showSended: false
            }
        },
        methods: {
            resetPassword() {
                Vue.axios.post('/auth/resetPassword', {
                    email: this.email
                })
                .then(data => {
                    if (data.data.success) {
                        this.showSended = true;
                        this.$store.commit('main/setHasError', false);
                    } else {
                        this.$store.commit('main/setHasError', true);
                    }
                })
            }
        }
    }
</script>
