<template v-cloak>
    <nav>
        <ul>
            <router-link :to="{name: 'auctions.list'}" tag="li" class="angle-shape" active-class="active"><a>Аукционы</a></router-link>
            <router-link :to="{name: 'how.to.sell'}" tag="li" class="angle-shape" active-class="active"><a>Продать</a></router-link>
            <router-link :to="{name: 'how.to.buy'}" tag="li" class="angle-shape" active-class="active"><a>Купить</a></router-link>
        </ul>
    </nav>
</template>
<script>
    export default {
        data() {
            return {
            }
        }
    }
</script>
