header .nav-login {
    ul li{
        display: inline-block;
        padding: 0 10px;
        line-height: 76px;
    }
    & > ul > li > a {
        font-family: "Roboto", sans-serif;
        display: inline-block;
    }
}
.pro-pagination-style .router-link-exact-active {
    background-color: #ff3535;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.disabled {
    pointer-events:none;
    opacity:0.6;
}
html .product-details-img {
    .wrap-main-img{
      max-height: 300px;
      position: relative;
      display:flex;
      justify-content: center; /*центрируем элемент по горизонтали */
      align-items: center; /* и вертикали */
      overflow: hidden; /* если элемент больше блока-родителя – обрезаем лишнее */
        &.oneImg {
            height: auto;
            max-height: 100%;
            .mainImg {
                max-height:70vh;
            }
        }
        .mainImg {
            max-width:100%;
            max-height:300px;
            width: auto;
            height: auto;
            cursor: pointer;
        }
        &:hover .zoom-div-wrap{
            opacity: 1;
            visibility: visible;
            margin-top: 0px;
        }
    }
}
.wrap-hooper {
    position: relative;
    z-index: 1000;
}
.bigImageItem {
    max-width: calc(100% - 100px);
    height: 90vh;
    padding: 10px;
    margin: 0 auto;
    img {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        top: calc(50% - 20px);
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.winodow-shadow {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0,0.65);
    z-index: 10000;
    top:0;
}
.close-custom {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 38px;
    line-height: 1;
    padding: 0;
    transition: all 0.2s;
    position: relative;
    right: 10px;
    top: 10px;
    float: right;
    &:hover {
        color: #ff3535;
    }
}
.red-link {
    color: #ff3535;
}
.admin-icon {
    position: absolute;
}
.winodow-shadow {
    .close-custom {
        position: relative;
        top:20px;
        right: 20px;
        z-index: 100;
    }
}
.wrap-carousel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    max-width: 1600px;
}
.main-search-active.inside {
    display: flex !important;
}
[v-cloak] {
    display: none;
}
body {
    overflow-y:scroll;
    height: 100%;
    button.with-load {
        background-color: #1f2226 !important;
        &:hover {
            background-color: #ff3535 !important;
        }
    }
}
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.modal-enter,
.modal-leave {
    opacity: 0;
}
.modal-enter-active,
.modal-leave-active {
    transition: opacity 0.1s ease;
}
html .modal-auth .modal-dialog {
    width: 700px;
    max-width: 700px;
}
.modal-auth .login-register-wrapper .login-form-container {
    padding: 25px;
}
.btn-black,
.btn-red {
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
    padding: 16px 38px 16px;
    z-index: 99;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        border: none;
        color: white;
    }
    &:focus {
        color: white;
    }
}
.btn-black {
    background-color: #1f2226;
    &:hover {
        background-color: #ff3535;
    }
}
.btn-red {
    background-color: #ff3535;
    &:hover {
        background-color: #1f2226;
    }
}
.modal-text {
    padding: 20px;
    font-size: 16px;
}
.modal-auth .btn-black {
    min-width: 174px;
    text-align: center;
}
.modal-bid .btn-black {
    min-width: 133px;
    text-align: center;
}
.help-block {
    color: red;
    font-size: 13px;
}
.help-note {
    position: relative;
    left: 1px;
    color: black;
    font-size: 12px;
    display: block;
}
.login-register-form {
    .help-block {
        position: relative;
        top: -15px;
        left: 1px;
        color: red;
        font-size: 13px;
    }
    label {
         width: 100%;
         margin-bottom: 0;
     }
}
.red {
    color:red;
}
.login-register-wrapper .login-form-container .login-register-form form label.has-error input {
    margin-bottom: 15px;
}
html .description-review-wrapper .description-review-topbar a {
    text-transform: none;
}
.tbl-desc tr td{
    padding: 10px;
    &:first-child {
        font-weight: 700;
    }
}
.btn-lk {
    background-color: #ff3535;
    color: #fff;
    display: inline-block;
    padding: 7px 20px 8px;
    font-weight: 500;
    font-size: 14px;
    outline:none;
    border:none;
    &:hover,
    &:focus{
        background-color: #1f2226;
        color: #fff;
    }
}
.shop-list-wrap .product-list-img .product-quickview .zoom {
    width: 69px;
    height: 48px;
    background-color: #fff;
    font-size: 20px;
    color: #000000;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    &:hover {
        background-color: #ff3535;
        color: #ffffff;
    }
}
.loaded-img {
    max-width: 160px;
}
.dragover {
    border: dashed 2px #000;
    padding: 10px;
    position:relative;
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
}
.dragover:hover,
.dragenter {
    background: #eceff8;
}
#attachImages {
    position:absolute;
    content: "";
    display:block;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    opacity: 0.0;
    cursor: pointer;
}
.text-drag {
    display: inline-block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.auction-image-loaded {
    margin-bottom: 10px;
    .sli-close {
        font-size: 25px;
        transition: all 0.2s;
        &:hover {
            color: red;
        }
    }
    .btn-clear {
        height: 25px;
        position: relative;
        top: 6px;
    }
    .loaded-img-info {
        max-width: calc(100% - 180px);
        float: right;
        width: 100%;
        word-break: break-all;
    }
    img {
        cursor: pointer;
    }
}
.btn-clear {
    background: none;
    border:none;
    outline:none;
}
html .myaccount-content .account-details-form {
    .single-input-item {
        textarea {
            height: auto;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .active-checkbox-label {
            cursor: pointer;
            display: inline-block;
            input {
                display: inline-block;
                width: 15px;
                height: 15px;
                position: relative;
                top: 3px;
                left: 3px;
            }
        }
    }
}
html .mx-time-column .mx-time-list::after {
    height: 0;
}
html .mx-input {
    border-radius: 0;
}
.myaccount-content .mx-datepicker  {
    width: 100%;
}
.dialog-item {
    height: 71px;
    &:hover {
        background: #f5f7fa;
    }
    &.unreaded {
         background: #f5f7fa;
    }
    &>a{
        display: block;
        box-sizing: border-box;
        padding: 10px 10px;
        border-top: solid 1px #eeeeee;
        &:hover{
            color: #000000;
        }
    }
}
.dialog-name {
    font-weight: 700;
    display: block;
    float: left;
}
.dialog-date {
    display: block;
    float: right;
}
.dialog-message {
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 110px);
    display: block;
    white-space: nowrap;
}
.dialog-count-new-messages {
    float: right;
    background: #ff3535;
    display: block;
    color: white;
    border-radius: 100%;
    min-width: 24px;
    padding: 0 8px;
    text-align: center;
}
.message_section {
    border: 1px solid #eeeeee;
}
.chat_area {
    float: left;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
.chat_area li {
    padding: 14px 14px 0;
    .chat-img1 img {
        height: 40px;
        width: 40px;
    }
    &:last-child {
        padding-bottom: 10px;
    }
}
.chat-body1 {
    a {
        color: #ff3535;
        text-decoration: underline;
    }
    p {
        background: #fbf9fa none repeat scroll 0 0;
        padding: 10px;
    }
}
.chat_time {
    color: #8a8a8a;
    padding-left: 5px;
}
.message-images {
    padding: 0;
    margin: 0;
    img {
        max-width: 200px;
        max-height: 22vh;
        cursor: pointer;
    }
}
.one-img-box {
    .wrap-carousel {
        text-align: center;
        img {
            max-width: 90%;
            max-height: 90vh;
        }
    }
}
.message_write {
    background: #f5f3f3 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    width: 100%;
    .text-drag {
        margin-top:0;
        margin-bottom:0;
    }
    .dragover {
        margin: 0;
        margin-bottom: 10px;
    }
    .loaded-img {
        max-width: 100px;
        max-height: 70px;
        float: left;
    }
    .loaded-img-info {
        max-width: none;
        width: auto;
        float: left;
        margin-left: 5px;
    }
    textarea.new-message {
        height: 70px;
        padding: 10px;
        border: 1px solid #e5e5e5;
        background: white;
        outline:none;
        &:focus {
            outline: none;
        }
    }
}
.chat_bottom {
    float: left;
    margin-top: 13px;
    width: 100%;
}
.upload_btn {
    color: #777777;
}
.dialog-name-in-chat{
    border: 1px solid #eeeeee;
    margin-bottom: 0;
    border-bottom: none;
    padding: 10px;
    h3 {
        display: inline-block;
        margin-bottom: 0;
    }
    .admin-icon {
        top: 12px;
        display: inline-block;
    }
}
.slide1 {
    background: url('/images/slide1.jpg');
    background-size: cover;
}
.slide2 {
    background: url('/images/slide2.jpg');
    background-size: cover;
}
.slide3 {
    background: url('/images/slide3.jpg');
    background-size: cover;
}
.slide-text-box {
    padding: 22px 30px;
    margin-left: 40px;
    display: none;
    background: transparent;
    transition: all 0.3s;
}
.owl-item.active {
    .slide-text-box {
        display: block;
        background: rgba(0, 0, 0, 0.65);
    }
}
.myaccount-content {
    .product-list-img {
        img {
            width: auto;
        }
    }
}
.product-list-img {
    text-align: center;
    padding: 12px;
    img {
        max-height: 140px;
        width: 100%;
        max-width: 100%;
    }
}
.auctions-front .product-list-img {
    text-align: center;
    padding: 0;
    width: 100%;
    background: #f6f6f6;
    a {
        display: block;
        img {
            position: relative;
            top: 50%;
            max-height:100%; max-width:100%
        }
    }
}
div.gallery-item.slick-slide {
    height: 100px;
    img {
        position: relative;
        top: 50%;
        padding: 0;
        transform: translateY(-50%);
        max-height: 100px;
        max-width: 100%;
        margin: 0 auto;
        width: auto;
    }
}
.container-admin {
    width: 100%;
    padding: 0 30px;
}
.v-select {
    .vs__clear{
        display: none;
    }
    .vs__dropdown-toggle{
        background-color: transparent;
        border: 1px solid #ebebeb;
        font-size: 14px;
        height: 50px;
        margin-bottom: 30px;
        padding: 0 10px;
        border-radius: 0;
    }
    .vs__dropdown-menu {
        li {
            padding: 15px 18px;
        }
    }
    .v-select .vs__dropdown-toggle {
        padding: 0 6px;
    }
    .vs__selected {
        line-height: 49px;
        margin: 0;
    }
}
.auctions-front .shop-list-wrap {
    border: none
}
html .product-details-img .product-dec-slider {
    padding: 0 50px 0 50px;
    .product-dec-icon {
        &.product-dec-next {
            right: 20px;
        }

        &.product-dec-prev {
            left: 20px;
        }
    }
}
.bordered-product {
    border: 1px solid #f1f1f1;
    padding: 0;
}
.single-slider {
    padding: 12px;
    min-height: 410px;
}
.shop-top-bar {
    .vs__dropdown-toggle {
        width: 270px;
        margin-bottom: 0;
    }
}
.h1-pages {
    text-align: center;
    margin-bottom: 50px;
}
.carousel__indicators {
    bottom: -20px !important;
}
.wrap-img-slide {
    height: 100px;
    margin: 0 3px;
    background: #e8e8e8;
    cursor: pointer;
}
.zoom-div {
    width: 69px;
    height: 48px;
    background-color: #fff;
    font-size: 20px;
    color: #000000;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    position:relative;
}
.zoom-div-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    margin-top: 20px;
}
.mobile-navigation li{
    font-size: 16px;
    text-transform: capitalize;
    line-height: 18px;
    position: relative;
    display: block;
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
}
#content {
    min-height: calc(100vh - 322px);
}
.user-item {
    a {
        padding: 15px;
        display:block;
    }
}
.forget-password {
    float: right;
    line-height: 40px;
}
.slider-content .h1 {
    color:white !important;
}
.error-images {
    display: block;
}
.arrow-down{
    position: relative;
    text-align: center;
    animation: bouncearrow-down 5s infinite;
    color: black;
}
.arrow-up{
    position: relative;
    text-align: center;
    animation: bouncearrow-up 5s infinite;
    color: black;
}
.wrap-touch {
    width:40px;
    height: 140px;
    margin-top: 50px;
    float:right;
    .arrow-down,
    .arrow-up{
        img {
            width: 28px;
        }
    }
    img {
        width: 100%;
    }
}
.loaded-images {
    width: calc(100% - 50px);
    float: left;
}
.alert-danger {
    margin-bottom: 40px;
}
.sortable-chosen,
.auction-image-loaded{
    cursor: pointer !important;
}
input[type=checkbox] {
    cursor: pointer;
}
.to-admin-message {
    border-radius: 0;
    float: right;
    position: relative;
    top: -10px;
}
.alert-system {
    font-size: 16px;
    color: #af1111;
    font-weight: 700;
}
.ul-au {
    li {
        margin-bottom: 5px;
    }
}
.loading-btn {
    display: none;
    &.spinner-border {
        height: 0.85em;
        width: 0.85em;
        border: 0.15em solid white;
        border-right-color: transparent;
        vertical-align: inherit;
        border-radius: 100%;
    }
}
button:disabled,
button[disabled],
button[disabled=disabled]{
    .loading-btn {
        display: inline-block;
    }
}
.actions-wrap {
    a {
        text-align: center;
        min-width: 204px;
    }
}
.show_ended {
    width: 15px;
    height: 15px;
    line-height: 18px;
    display: inline;
    position: relative;
    top: 3px;
}
.cursor {
    cursor: pointer;
}
@-webkit-keyframes bouncearrow-up{
    0%{top: 0px;}
    50%{top: -20px;}
    100%{top: 0px;}
}
@keyframes bouncearrow-up{
    0%{top: 0px;}
    50%{top: -20px;}
    100%{top: 0px;}
}
@-webkit-keyframes bouncearrow-down{
    0%{top: 0px;}
    50%{top: 20px;}
    100%{top: 0px;}
}
@keyframes bouncearrow-down{
    0%{top: 0px;}
    50%{top: 20px;}
    100%{top: 0px;}
}
@media only screen and (max-width: 1199px) {
    html .product-details-img {
        .wrap-main-img{
            max-height:200px;
            .mainImg {
                max-height:200px;
            }
        }
    }
    .slide-text-box {
        margin-left: 60px;
    }
    .close-custom {
        font-size: 50px;
    }
}
@media only screen and (max-width: 1024px) {
    .owl-nav {
        display: none;
        background: red;
    }
    .slide-text-box {
        margin-left: 0;
    }
}
@media only screen and (max-width: 991px) {
    body .wrap-carousel {
        .carousel__control--prev {
            left: 0.35rem;
        }
        .carousel__control--next {
            right: 0.35rem;
        }
    }
    .bigImageItem {
        max-width: calc(100% - 64px);
    }
    .loaded-img {
        max-width: 120px;
    }
    .auction-image-loaded {
        .loaded-img-info {
            max-width: calc(100% - 140px);
            word-break: break-all;
        }
    }
}
@media only screen and (max-width: 767px) {
    html .modal-auth .modal-dialog {
        width: 500px;
        max-width: 500px;
    }
    .container-admin {
        width: 100%;
        padding: 0 15px;
    }
    .slide-text-box {
        min-height: 260px;
    }
    .to-admin-message {
        float: none;
    }
}
@media only screen and (max-width: 580px) {
    .auctions-front .shop-list-wrap {
        border: none;
        max-width: 300px;
        margin: 20px auto;
    }
}
@media only screen and (max-width: 560px) {
    html .modal-auth .modal-dialog {
        width: 300px;
        max-width: 300px;
    }
    .slide-text-box {
        min-height: 310px;
    }
    .loaded-img {
        max-width: 90px;
        float:left;
    }
    .auction-image-loaded {
        .loaded-img-info {
            max-width: calc(100% - 115px);
            word-break: break-all;
            float:left;
            margin-left: 15px;
        }
    }
    .loaded-images {
        width: calc(100% - 80px);
        float: left;
    }
}

@media only screen and (max-width: 440px) {
    body .single-slider {
        min-height: 430px;
        .slider-content p {
            font-size: 16px;
        }
    }
    body .slide-text-box {
        min-height: 330px;
        padding: 22px 17px;
    }
    .myaccount-content {
        padding: 20px 8px;
    }
    .dialog-name-in-chat {
        h3 {
            font-size: 16px;
        }
        .admin-icon {
            top: 7px;
        }
    }
}
