<template v-cloak>
    <div class="myaccount-content">
        <h3>Создание аукциона</h3>
        <p class="alert-system">Аукцион будет опубликован после модерации</p>
        <div class="account-details-form">
            <form action="#">
                <div class="mb-3">
                    <ul class="ul-au">
                        <li>* Желательно указывать не круглую начальную цену, а чуть ниже  (например 1900 вместо 2000 руб.)</li>
                        <li>* Рекомендуемый размер изображения не менее 1000px по одной из сторон</li>
                        <li>* Название: Название картины. Материал/техника. Размеры в см (например 70х50). Автор.</li>
                    </ul>
                </div>
                <div class="single-input-item" :class="{'has-error' : has_error && errors.name}">
                    <label for="name" class="required">Название</label>
                    <input id="name" type="text" v-model="name" placeholder="Русская зима. Холст/масло. 40х60 см. Автор - Александр Шишкин">
                    <span class="help-block" v-if="has_error && errors.name">{{ errors.name[0] }}</span>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single-input-item" :class="{'has-error' : has_error && errors.price}">
                            <label for="price" class="required">Начальная цена</label>
                            <input type="text" id="price" v-model="price" placeholder="1000" @paste.prevent @focusout="lastZero()" @keypress="!numbers($event) ? $event.preventDefault() : ''" pattern="[0-9]*" inputmode="numeric">
                            <span class="help-block" v-if="has_error && errors.price">{{ errors.price[0] }}</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-input-item" :class="{'has-error' : has_error && errors.step}">
                            <label for="step" class="required">Минимальный шаг</label>

                            <div class="shop-select">
                                <v-select id="step" :options="min_step" v-model="step" :searchable="false"></v-select>
                            </div>
                            <span class="help-block" v-if="has_error && errors.step">{{ errors.step[0] }}</span>
                        </div>
                    </div>
                    <!--<div class="col-lg-4">
                        <div class="single-input-item" :class="{'has-error' : has_error && errors.end_date}">
                            <label class="required">Окончание аукциона</label>
                            <date-picker v-model="end_date" valueType="format" type="datetime" format="YYYY-MM-DD HH:mm" placeholder="Выберите дату" :lang="ru"></date-picker>
                            <span class="help-block" v-if="has_error && errors.end_date">{{ errors.end_date[0] }}</span>
                        </div>
                    </div>-->
                </div>
                <div class="single-input-item" :class="{'has-error' : has_error && errors.description}">
                    <label for="description" class="required">Описание</label>
                    <textarea rows="6" id="description" v-model="description" placeholder="(Не обязательное поле)"></textarea>
                    <span class="help-block" v-if="has_error && errors.description">{{ errors.description[0] }}</span>
                </div>
                <div class="single-input-item" :class="{'has-error' : has_error && errors.files}">
                    <div v-cloak @drop.prevent="addFile" @dragover.prevent class="dragover" @dragenter="dragging=true" :class="{'dragenter': dragging}" >
                        <input type="file" multiple="multiple" id="attachImages" @change="uploadFieldChange"  @dragleave="dragging=false" accept="image/*">
                        <span class="text-drag">Перетащите изображения</span>
                    </div>
                    <span class="help-block error-images mb-3" v-if="has_error && errors.files">{{ errors.files[0] }}</span>
                </div>
                <div class="clearfix">
                    <div v-show="files.length>1" class="wrap-touch">
                        <div class="arrow-up"> <img src="/parlo/img/icon-img/arrow-up.svg" alt="Вверх" title="Вверх"></div>
                        <img src="/parlo/img/icon-img/touch.svg" alt="Перетаскивание изображений" title="Перетаскивайте изображения в нужный вам порядок">
                        <div class="arrow-down"> <img src="/parlo/img/icon-img/arrow-down.svg" alt="Вниз" title="Вниз"></div>
                    </div>
                    <ul class="loaded-images">
                        <draggable v-model="files" group="people" @start="drag=true" @end="drag=false" v-bind="dragOptions">
                            <li v-for="file in files" :key="file.name" class="auction-image-loaded clearfix">
                                <img class="loaded-img" :src="file.img" alt="Загруженное изображение">
                                <div class="loaded-img-info">
                                    {{ file.name }}
                                    <button @click="removeFile(file)" title="Удалить" class="btn-clear"><i class="sli sli-close"></i></button>
                                </div>
                            </li>
                        </draggable>
                    </ul>
                </div>
                <div class="single-input-item">
                    <button class="check-btn sqr-btn with-load" type="button" @click="uploadAuction" :disabled="uploadDisabled">
                        <div class="spinner-border text-muted loading-btn"></div>
                        Создать
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import  Draggable from 'vuedraggable';
    //import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    //import {ru} from'vue2-datepicker/locale/ru';
    import { uploadimages } from '../../../mixins/uploadimages';
    import vSelect from 'vue-select';
    import {mapGetters} from 'vuex';
    export default {
        data() {
            return {
                //ru: ru,
                end_date: '',
                step: {
                    'label': '200',
                    'code': 200
                },
                price: '',
                name: '',
                description: '',
                min_step: [
                    {
                        'label': '200',
                        'code': 200
                    },
                    {
                        'label': '300',
                        'code': 300
                    },
                    {
                        'label': '400',
                        'code': 400
                    },
                    {
                        'label': '500',
                        'code': 500
                    }
                ],
                uploadDisabled: false,
            }
        },
        mixins: [uploadimages],
        computed: {
            dragOptions() {
                return {
                    animation: 200,
                    group: "description",
                    disabled: false,
                    ghostClass: "ghost"
                };
            }
        },
        methods:{
            uploadAuction() {
                this.uploadDisabled = true;
                this.$store.dispatch('auctions/saveAuction', {
                    //end_date: this.end_date,
                    step: this.step.code,
                    price: this.price,
                    name: this.name,
                    description: this.description,
                    files: this.files
                }).then(() => {this.uploadDisabled = false});
            },
            lastZero() {
                if (this.price > 9) {
                    this.price = Math.trunc(this.price/10) * 10;
                }
            }
        },
        updated(){
        },
        components: {
            Draggable,
            vSelect
            //DatePicker
        }
    }
</script>
