<template v-cloak>
    <div>
        <header class="header-area">
            <div class="main-header-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <router-link :to="{name: 'home'}">
                                    <img src="/parlo/img/logo/logf.png" title="«Арт-аукцион»" alt="«Арт-аукцион»">
                                </router-link>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 ">
                            <div class="main-menu">
                                <top-menu></top-menu>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3">
                            <div class="header-right-wrap">
                                <div class="cart-wrap">
                                    <login-menu></login-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-small-mobile">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <div class="mobile-logo">
                                <router-link :to="{name: 'home'}">
                                    <img src="/parlo/img/logo/logoBig.png" width="170px" title="«Арт-аукцион»" alt="«Арт-аукцион»">
                                </router-link>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="header-right-wrap">
                                <div class="mobile-off-canvas">
                                    <a class="mobile-aside-button" href="#"><i class="sli sli-menu"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="mobile-off-canvas-active">
            <a class="mobile-aside-close"><i class="sli sli-close"></i></a>
            <div class="header-mobile-aside-wrap">
                <div class="mobile-menu-wrap">
                    <!-- mobile menu start -->
                    <div class="mobile-navigation">
                        <login-menu></login-menu>
                        <hr/>
                        <top-menu></top-menu>
                    </div>
                    <!-- mobile menu end -->
                </div>
                <!--<div class="mobile-social-wrap">
                    <a class="facebook" href="#"><i class="sli sli-social-facebook"></i></a>
                    <a class="twitter" href="#"><i class="sli sli-social-twitter"></i></a>
                    <a class="pinterest" href="#"><i class="sli sli-social-pinterest"></i></a>
                    <a class="instagram" href="#"><i class="sli sli-social-instagram"></i></a>
                    <a class="google" href="#"><i class="sli sli-social-google"></i></a>
                </div>-->
            </div>
        </div>

        <div class="breadcrumb-area pt-20 pb-20 bg-gray" v-if="showBradcrumbs">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" id="a" itemref="a1">
                            <router-link :to="{name: 'home'}" itemprop="url">
                                <span itemprop="title">{{ this.$router.resolve({name: 'home'}).route.meta.title }}</span>
                            </router-link>
                        </li>
                        <li v-if="$router.currentRoute.meta.hasOwnProperty('breadcrumbs')" v-for="(routename, key) in $router.currentRoute.meta.breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" :id="'a'+(key+1)" itemprop="child" :itemref="key+1 == $router.currentRoute.meta.breadcrumbs.length ? '' : 'a'+(key+2)" >
                            <router-link :to="{name: routename}" v-if="key+1 != $router.currentRoute.meta.breadcrumbs.length" itemprop="url">
                                <span itemprop="title">{{ $router.resolve({name: routename}).route.meta.title }}</span>
                            </router-link>
                            <span v-else itemprop="title"> {{ breadcrumbCustomTitle ? breadcrumbCustomTitle : $router.resolve({name: routename}).route.meta.title }}</span>
                            <meta v-if="key+1 == $router.currentRoute.meta.breadcrumbs.length" itemprop="url" :content="$router.currentRoute.fullPath">
                        </li>
                        <li v-if="!$router.currentRoute.meta.hasOwnProperty('breadcrumbs')" v-for="(route, key) in $route.matched" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" :id="'a'+(key+1)" itemprop="child" :itemref="key+1 == $route.matched.length ? '' : 'a'+(key+2)">
                            <router-link :to="{name: route.name}" v-if="key+1 != $route.matched.length" itemprop="url">
                                <span itemprop="title">{{ breadcrumbCustomTitle ? breadcrumbCustomTitle : route.meta.title }}</span>
                            </router-link>
                            <span v-else itemprop="title">{{ breadcrumbCustomTitle ? breadcrumbCustomTitle : route.meta.title }}</span>
                            <meta v-if="key+1 == $route.matched.length" itemprop="url" :content="$router.currentRoute.fullPath">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content">
            <router-view :key="$route.fullPath"></router-view>
        </div>
        <footer class="footer-area bg-paleturquoise">
            <div class="container">
                <div class="footer-top text-center pt-45 pb-45">
                    <nav>
                        <ul>
                            <li><router-link :to="{name: 'how.to.sell'}">{{ $router.resolve({name: 'how.to.sell'}).route.meta.title }}</router-link></li>
                            <li><router-link :to="{name: 'how.to.buy'}">{{ $router.resolve({name: 'how.to.buy'}).route.meta.title }}</router-link></li>
                            <li><router-link :to="{name: 'about.company'}">{{ $router.resolve({name: 'about.company'}).route.meta.title }}</router-link></li>
                            <li v-if="this.$auth.user().id"><router-link :to="{name: 'message', params: { to: 1 } }">Связаться с нами </router-link></li>
                            <li v-else><a href="#" @click.prevent="showAuthWithBackroute($router.resolve({name: 'message', params: {to: 1}}).href)">Связаться с нами </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="footer-bottom border-top-1 pt-20">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-5 col-12">
                            <div class="footer-social pb-20">
                                <!--<a href="#">Facebok</a>
                                <a href="#">Twitter</a>
                                <a href="#">Linkedin</a>
                                <a href="#">Instagram</a>-->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="copyright text-center pb-20">
                                <p>© «Арт-аукцион» 2019-2020. Все права защищены</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-12">
                            <div class="payment-mathod pb-20">
                                <img src="/parlo/img/icon-img/payment.png" alt="Безопасная сделка" title="Безопасная сделка">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <transition name="modal">
            <div class="modal-mask modal-auth" v-show="showAuth">
                <div class="modal-wrapper">
                    <div class="modal-dialog modal-auth" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть" @click="closeAuth()"><span aria-hidden="true">x</span></button>
                            </div>
                            <div class="modal-body text-center">
                                <p class="modal-text">Необходимо авторизоваться</p>
                                <div class="mb-3">
                                    <router-link :to="{ name : 'login', query: { backroute: authBackroute } }" class="btn-black" >
                                        Войти
                                    </router-link>
                                </div>
                                <div>
                                    <router-link :to="{ name : 'register', query: { backroute: authBackroute }  }" class="btn-black">
                                        Регистрация
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <zoom-image></zoom-image>
    </div>
</template>
<script>
    import loginMenu from './pages/LoginMenu.vue';
    import TopMenu from './pages/TopMenu.vue';
    import {mapGetters} from 'vuex';
    import ZoomImage from "./blocks/ZoomImage.vue";

    function closeMenu() {
        var element = document.getElementsByClassName("mobile-off-canvas-active")[0];
        element.classList.remove("inside");
        var element = document.getElementsByClassName("wrapper")[0];
        element.classList.remove("overlay-active");
    }
    export default {
        data() {
            return {
                showCommunication: false,
            }
        },
        created() {
            this.$store.dispatch('menu/generateMenu');
        },
        updated(){
            if (!this.exceptLogout && this.$auth.user().id && this.$auth.user().id === undefined) {
                console.log('logout');
                this.$auth.logout();
            }
            if (this.exceptLogout) {
                this.$store.commit('main/setExceptLogout', false);
            }
        },
        destroyed(){
        },
        computed: {
            ...mapGetters('menu', {
                menuList: 'items'
            }),
            ...mapGetters('main', {
                showAuth: 'showAuth',
                authBackroute: 'authBackroute',
                exceptLogout: 'exceptLogout',
                breadcrumbCustomTitle: 'breadcrumbCustomTitle'
            }),
            showBradcrumbs(){
                return this.$route.fullPath != '/';
            }
        },
        methods: {
            closeCommunication(){
                this.showCommunication = false;
            },
            closeAuth(){
                this.$store.dispatch('main/closeAuth');
            },
            closeMobileMenu(){
                closeMenu();
            }
        },
        components: {
            loginMenu,
            TopMenu,
            ZoomImage
        },
        watch:{
            $route (to, from){
                console.log('metikaSended: ' + window.location.href);
                ym(56963950, 'hit', window.location.href);
                this.closeCommunication();
                this.closeAuth();
                this.closeMobileMenu();
                this.showMainScroll();
                this.$store.commit('main/setBreadcrumbCustomTitle', false);
            }
        },
    }
</script>
