<template>
    <div class="winodow-shadow one-img-box" v-show="zoomOneImage">
        <button class="close-custom" @click="closeZoomImage()"><span class="sli sli-close"></span></button>
        <div class="wrap-carousel">
            <img :src="bigImageSrc"/>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    export default {
        computed: {
            ...mapGetters('main', {
                zoomOneImage: 'zoomOneImage',
                bigImageSrc: 'bigImageSrc',
            }),
        },
        methods: {
            closeZoomImage(){
                this.$store.commit('main/setZoomOneImage', false);
                this.showMainScroll();
            },
        },
        watch:{
            $route (to, from){
                this.closeZoomImage();
                this.$store.commit('main/setBigImageSrc', '');
            }
        },
    }
</script>
