<template v-cloak>
    <div class="myaccount-content">
        <h3>Мои аукционы</h3>
        <router-link v-if="$auth.user().role == $artist" class="btn-lk" :to="{ name : 'auction.create' }">Создать аукцион</router-link>
        <div class="shop-bottom-area mt-35">
            <div class="tab-content jump">
                <div id="shop-2" class="tab-pane active">
                    <div class="shop-list-wrap shop-list-mrg2 shop-list-mrg-none mb-30" v-for="(auction,index) in auctions" :key="auction.id">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="product-list-img" v-if="auction.images[0]">
                                    <router-link :to="auction.link">
                                        <a>
                                            <img :src="auction.images[0].path_min" :title="'Картина: ' + auction.name" :alt="'Картина: ' + auction.name">
                                        </a>
                                    </router-link>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 align-self-center">
                                <div class="shop-list-content">
                                    <h3><router-link :to="auction.link"><a>{{auction.name}}</a></router-link></h3>
                                    <p></p>
                                    <div class="shop-list-price-action-wrap">
                                        <div class="shop-list-price-ratting">
                                            <div class="ht-product-list-price">
                                                <span class="new">{{auction.price}} руб.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div v-if="auction.end_date">Окончание: <span class="font-weight-bold">{{auction.end_date}} (МСК)</span></div>
                                        <div>Ставок: <span class="font-weight-bold">{{auction.bids.length}}</span></div>
                                        <div v-if="auction.bid_place">Место вашей ставки: <span class="font-weight-bold">{{auction.bid_place}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="!showPaginate">
                {{textEmptyAuctions}}<br/>
                <router-link class="btn-lk mt-3" :to="{ name : 'auctions.list' }">Перейти к аукционам</router-link>
            </div>
            <div class="pro-pagination-style text-center mt-30 mb-3" v-show="showPaginate">
                <ul>
                    <li>
                        <router-link :to="prev_link">
                            <a class="prev"><i class="sli sli-arrow-left"></i></a>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/dashboard/auctions?page=1">
                            <a>1</a>
                        </router-link>
                    </li>
                    <li v-show="show_left_dots">
                        <a class="disabled">...</a>
                    </li>

                    <li v-for="page in between_pages">
                        <router-link :to="page.link">
                            <a>{{page.number}}</a>
                        </router-link>
                    </li>
                    <li v-show="show_right_dots">
                        <a class="disabled">...</a>
                    </li>
                    <li v-show="show_last">
                        <router-link :to="last_page">
                            <a>{{pagination.last_page}}</a>
                        </router-link>
                    </li>
                    <li>
                        <router-link :to="next_link">
                            <a class="next"><i class="sli sli-arrow-right"></i></a>
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';

    export default {
        data() {
            return {
                links:[]
            }
        },
        computed: {
            ...mapGetters('auctions', {
                auctions: 'items',
                pagination: 'pagination'
            }),
            textEmptyAuctions() {
                if (this.$auth.user().role == 1) {
                    return 'Вы не участвуете в аукционах';
                } else {
                    return 'У вас нет аукционов';
                }
            },
            showPaginate() {
                return this.pagination && this.auctions.length != 0
            },
            next_link() {
                return (this.pagination.last_page == this.pagination.current_page) ? '/dashboard/auctions?page='+this.pagination.last_page : '/dashboard/auctions?page=' + (this.pagination.current_page + 1);
            },
            prev_link() {
                return (this.pagination.current_page == 1) ? '/dashboard/auctions?page=1' : '/dashboard/auctions?page=' + (this.pagination.current_page - 1);
            },
            last_page() {
                return '/dashboard/auctions?page=' + this.pagination.last_page;
            },
            show_last() {
                return this.pagination.last_page>1;
            },
            between_pages() {
                this.links = [];
                let start = this.pagination.current_page-2;
                let end = this.pagination.current_page+2;
                while (start <= 1) {
                    start++;
                }
                while (end >= this.pagination.last_page) {
                    end--;
                }
                let k = 0;
                for(let i = start; i <= end; i++) {
                    this.$set(this.links, k, {
                        link: '/dashboard/auctions?page=' + i,
                        number: i
                    });
                    k++;
                }
                return this.links;
            },
            show_left_dots(){
                if(this.links[0] === undefined) {
                    return false;
                } else {
                    return this.links[0].number >2;
                }
            },
            show_right_dots(){
                if(this.links.length == 0) {
                    return false;
                } else {
                    return this.links[this.links.length-1].number < (this.pagination.last_page-1)
                }
            }
        },
        created() {
            let page = this.$route.query.page || 1;
            this.$store.dispatch('auctions/loadMyItems', page);
        },
    }
</script>
