<template v-cloak>
    <div class="my-account-wrapper pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- My Account Page Start -->
                    <div class="myaccount-page-wrapper">
                        <!-- My Account Tab Menu Start -->
                        <div class="row">
                            <div class="col-lg-3 col-md-4">
                                <dashboard-menu></dashboard-menu>
                            </div>
                            <!-- My Account Tab Menu End -->
                            <!-- My Account Tab Content Start -->
                            <div class="col-lg-9 col-md-8">
                                <div class="tab-content">
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade active show" id="dashboad" role="tabpanel">
                                        <router-view :key="$route.fullPath"></router-view>
                                    </div>
                                </div>
                            </div> <!-- My Account Tab Content End -->
                        </div>
                    </div> <!-- My Account Page End -->
                </div>
            </div>
        </div>
    </div>

</template>
<script>

    import dashboardMenu from './DashboardMenu';
    export default {
        data() {
            return {
                //
            }
        },
        components: {
            dashboardMenu
        }
    }
</script>
