<template v-cloak>
    <div class="myaccount-content">
        <router-link class="btn-lk to-admin-message" :to=" { name : 'message', params: { to: 1 }}">
            Сообщение администратору
        </router-link>
        <h3>Мои диалоги</h3>

        <div class="shop-bottom-area mt-35">
            <div v-for="dialog in dialogs" class="dialog-item" :class="{'unreaded': dialog.count_unreaded > 0}">
                <router-link :to="{ name : routeMessageName, params: { to: dialog.to } }">
                    <div class="clearfix">
                        <span class="dialog-name">{{dialog.name}}</span>
                        <img v-if="dialog.name == 'Администратор'" src="/parlo/img/icon-img/admin.png" class="admin-icon" width="30px" height="30px"/>
                        <span class="dialog-date">{{dialog.messages[0].formatted_date}}</span>
                    </div>
                    <div class="clearfix">
                        <span class="dialog-message">
                            <span v-if="dialog.messages[0].message">{{dialog.messages[0].message}}</span>
                            <span v-else>Фото</span>
                        </span>
                        <span class="dialog-count-new-messages" v-show="dialog.count_unreaded > 0">{{dialog.count_unreaded}}</span>
                    </div>
                </router-link>
            </div>
            <div v-if="noDialogs">
                У вас нет диалогов
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    export default {
        data() {
            return {
                //
            }
        },
        mounted(){
            if (window.app_env == 'production') {
                var socket = io('https://auction-art.ru:32768', { secure: true, reconnect: true, rejectUnauthorized: false });
            } else {
                var socket = io('http://auction-art.ru:3000');
            }
            let app = this;
            socket.on('new-message.' + this.$auth.user().id + ':App\\Events\\MessageEvent', function(data) {
                app.$store.dispatch('chat/loadDialogs');
            });
            this.$store.dispatch('chat/loadDialogs');
        },
        computed: {
            ...mapGetters('chat', {
                dialogs: 'dialogs',
            }),
            noDialogs() {
                return this.dialogs.length < 1;
            },
            routeMessageName() {
                return this.$auth.user().role == this.$admin ?  'message.admin' : 'message';
            }
        }
    }
</script>
