<template v-cloak>
    <div class="myaccount-content">
        <h3>Домашняя</h3>
        <div class="shop-bottom-area mt-35">
            Здравствуйте, {{$auth.user().login}}!<br/><br/> В личном кабинете вы можете:<br/><br/>
            <ul class="ul-au">
                <li>*Вести диалог с администратором сайта</li>
                <li>*Вести диалог с создателем аукциона</li>
                <li>*Просматривать аукционы в которых вы участвовали/участвуете</li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                //
            }
        },
        components: {
            //
        }
    }
</script>
