<template v-cloak>
    <div class="chat_container">
        <div class="dialog-name-in-chat text-center">
            <h3>{{dialogName}}</h3>
            <img v-if="dialogName == 'Администратор'" src="/parlo/img/icon-img/admin.png" class="admin-icon" width="30px" height="30px"/>
        </div>
        <div class="col-12 message_section">
            <div class="row">
                <div class="chat_area" ref="chat">
                    <ul class="list-unstyled">
                        <li class="left clearfix" v-for="message in messages">
                            <div class="clearfix">
                                <div class="chat-img1" :class="{'flot-left': message.owner, 'floa-right': !message.owner}">
                                    <span class="sender-name">
                                        <span v-if="message.type == 'system'">Системное сообщение</span>
                                        <span v-else>{{message.user.login}}</span>

                                    </span>
                                    <span class="chat_time">{{message.formatted_date}}</span>
                                </div>
                            </div>
                            <div class="chat-body1 clearfix" v-cloak>
                                <ul class="message-images">
                                    <li v-for="image in message.images">
                                        <img class="message-image" :src="image.path_min" @click="showZoomImage(image.path)"/>
                                    </li>
                                </ul>
                                <p v-html="message.message"></p>
                            </div>
                        </li>

                    </ul>
                </div><!--chat_area-->
                <div class="message_write">
                    <div v-cloak @drop.prevent="addFile" @dragover.prevent class="dragover" @dragenter="dragging=true" :class="{'dragenter': dragging}" >
                        <input type="file" multiple="multiple" id="attachImages" ref="attachImages" @change="uploadFieldChange"  @dragleave="dragging=false" accept="image/*">
                        <span class="text-drag">Перетащите изображения</span>
                    </div>
                    <ul class="loaded-images">
                        <li v-for="file in files" :key="file.name" class="auction-image-loaded clearfix" v-if="!file.deleted">
                            <img class="loaded-img" :src="file.img" alt="Загруженное изображение">
                            <div class="loaded-img-info">
                                {{ file.name }}
                                <button @click="removeFile(file)" title="Удалить" class="btn-clear"><i class="sli sli-close"></i></button>
                            </div>
                        </li>
                    </ul>
                    <textarea class="new-message" placeholder="Ваше сообщение" v-model="newMessage"></textarea>
                    <div class="clearfix"></div>
                    <button class="float-right btn-black mt-2" @click="sendMessage()" :disabled="disabled">
                        <div class="spinner-border text-muted loading-btn"></div>
                        Отправить
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import { uploadimages } from '../../mixins/uploadimages';

    function imgLoaded(imgElement) {
        return imgElement.complete && imgElement.naturalHeight !== 0;
    }
    export default {
        data() {
            return {
                newMessage: '',
                disabled: false
            }
        },
        mixins: [uploadimages],
        mounted() {
            this.loadMessages();
            if (window.app_env == 'production') {
                var socket = io('https://auction-art.ru:32768', { secure: true, reconnect: true, rejectUnauthorized: false });
            } else {
                var socket = io('http://auction-art.ru:3000');
            }
            let app = this;
            socket.on('new-message.' + this.$auth.user().id + ':App\\Events\\MessageEvent', function(data) {
                app.$store.dispatch('chat/pushMessage', data.message).then(()=> {
                    app.scrollToBottom()
                });

            });
        },

        computed: {
            ...mapGetters('chat', {
                messages: 'messages',
                dialogName: 'dialogName',
            }),
        },
        methods: {
            sendMessage(){
                this.disabled =  true;
                this.$store.dispatch('chat/message', {message: this.newMessage, user_to_id: this.$route.params.to, files: this.files}).then(() => {
                    this.newMessage = '';
                    this.files = [];
                    document.getElementById("attachImages").value = "";
                    this.scrollToBottom();
                    this.disabled =  false;
                });
            },
            loadMessages(){
                this.$store.dispatch('chat/loadMessages', this.$route.params.to).then(() => {
                    this.scrollToBottom();
                });
            },
            scrollToBottom(){
                let imgs = document.getElementsByClassName("message-image");
                let imageLoaded = 0;
                if (imgs.length != 0) {
                    for (let img of imgs) {
                        if (imgLoaded(img)) {
                            imageLoaded++;
                            if (imageLoaded === imgs.length) {
                                this.$refs.chat.scrollTop = this.$refs.chat.scrollHeight;
                                console.log('allImagesLoaded');
                            }
                        }
                        img.onload = () => {
                            imageLoaded++;
                            if (imageLoaded === imgs.length) {
                                this.$refs.chat.scrollTop = this.$refs.chat.scrollHeight;
                                console.log('allImagesLoaded');
                            }
                        };
                    }
                }
            }
        }
    }
</script>
