<template v-cloak>
    <div class="myaccount-tab-menu nav" role="tablist">
        <router-link v-for="(route, key) in routes" :to="{ name : route.name}" :key="key">
            {{route.title}}
        </router-link>
    </div>
</template>
<script>
    export default {
        data() {
            return {
            }
        },
        mounted() {
            //
        },
        computed: {
            routes(){
                let dashboardRoutes = this.$router.options.routes.find(obj => {
                    return obj.path === '/admin'
                });
                let routes = [];
                dashboardRoutes.children.forEach(function(children){
                    if (!(children.hasOwnProperty('hideFromMenu') && children.hideFromMenu == true)) {
                        routes.push({
                            name: children.name,
                            title: children.meta.title
                        });
                    }
                });
                return routes;
            }
        }
    }
</script>
