<template v-cloak>
    <div class="myaccount-content">
        <h3>Редактирование пользователя</h3>
        <div class="account-details-form">
            <form action="#">
                <div class="single-input-item">
                    <label for="active" class="active-checkbox-label">Активен
                        <input id="active" type="checkbox" v-model="active">
                    </label>
                    <p>
                        <span>{{login}}</span>
                        <span>{{email}}</span>
                        <span>{{role}}</span>
                    </p>
                </div>
                <div class="single-input-item">
                    <button class="check-btn sqr-btn" type="button" @click="updateUser">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import  Draggable from 'vuedraggable';
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import {ru} from'vue2-datepicker/locale/ru';
    export default {
        data() {
            return {
                login: '',
                email: '',
                role: '',
                active: ''
            }
        },
        methods:{
            updateUser() {
                Vue.axios.post('/admin/updateUser', {
                    id: this.$route.params.id,
                    active: this.active
                })
                .then(data => {
                    location.reload();
                })
            },
        },
        created(){
            Vue.axios.post('/admin/getUser', {
                id: this.$route.params.id
            })
                .then(data => {
                    data = data.data.user;
                    this.login = data.login;
                    this.email = data.email;
                    this.role = data.role;
                    this.active = data.active;
                })
        },
        updated(){
        },
    }
</script>
