<template v-cloak>
    <div class="my-account-wrapper pt-100 pb-100">
        <div class="container-admin">
            <div class="row">
                <div class="col-lg-12">
                    <!-- My Account Page Start -->
                    <div class="myaccount-page-wrapper">
                        <!-- My Account Tab Menu Start -->
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <admin-menu></admin-menu>
                            </div>
                            <!-- My Account Tab Menu End -->
                            <!-- My Account Tab Content Start -->
                            <div class="col-lg-10 col-md-9">
                                <div class="tab-content">
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade active show" id="dashboad" role="tabpanel">
                                        <router-view :key="$route.fullPath"></router-view>

                                    </div>
                                </div>
                            </div> <!-- My Account Tab Content End -->
                        </div>
                    </div> <!-- My Account Page End -->
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    import adminMenu from './AdminMenu';
    export default {
        data() {
            return {
                //
            }
        },
        components: {
            adminMenu
        }
    }
</script>
