<template v-cloak>
    <div class="myaccount-content">
        <h3>Dashboard</h3>
        <div class="welcome">
            <p>Hello, admin</p>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                //
            }
        },
        components: {
            //
        }
    }
</script>
