<template v-cloak>
    <div class="myaccount-content">
        <h3>Пользователи</h3>
        <div class="shop-bottom-area mt-35">
            <div class="tab-content jump">
                <div id="shop-2" class="tab-pane active">
                    <div class="shop-list-wrap shop-list-mrg2 shop-list-mrg-none mb-30" v-for="(user,index) in users" :key="user.id">
                        <div class="user-item">
                            <router-link :to="{ name : 'user.admin.edit', params: { id: user.id } }">{{user.login}}</router-link>
                        </div>
                    </div>
                    <div class="pro-pagination-style text-center mt-30 mb-3" v-show="showPaginate">
                        <ul>
                            <li>
                                <router-link :to="prev_link">
                                    <a class="prev"><i class="sli sli-arrow-left"></i></a>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/admin/users?page=1">
                                    <a>1</a>
                                </router-link>
                            </li>
                            <li v-show="show_left_dots">
                                <a class="disabled">...</a>
                            </li>

                            <li v-for="page in between_pages">
                                <router-link :to="page.link">
                                    <a>{{page.number}}</a>
                                </router-link>
                            </li>
                            <li v-show="show_right_dots">
                                <a class="disabled">...</a>
                            </li>
                            <li v-show="show_last">
                                <router-link :to="last_page">
                                    <a>{{pagination.last_page}}</a>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="next_link">
                                    <a class="next"><i class="sli sli-arrow-right"></i></a>
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';

    export default {
        data() {
            return {
                links:[]
            }
        },
        computed: {
            ...mapGetters('user', {
                users: 'users',
                pagination: 'pagination',
            }),
            showPaginate() {
                return this.pagination && this.users.length != 0
            },
            next_link() {
                return (this.pagination.last_page == this.pagination.current_page) ? '/admin/users?page='+this.pagination.last_page : '/admin/users?page=' + (this.pagination.current_page + 1);
            },
            prev_link() {
                return (this.pagination.current_page == 1) ? '/admin/users?page=1' : '/admin/users?page=' + (this.pagination.current_page - 1);
            },
            last_page() {
                return '/admin/users?page=' + this.pagination.last_page;
            },
            show_last() {
                return this.pagination.last_page>1;
            },
            between_pages() {
                this.links = [];
                let start = this.pagination.current_page-2;
                let end = this.pagination.current_page+2;
                while (start <= 1) {
                    start++;
                }
                while (end >= this.pagination.last_page) {
                    end--;
                }
                let k = 0;
                for(let i = start; i <= end; i++) {
                    this.$set(this.links, k, {
                        link: '/admin/users?page=' + i,
                        number: i
                    });
                    k++;
                }
                return this.links;
            },
            show_left_dots(){
                if(this.links[0] === undefined) {
                    return false;
                } else {
                    return this.links[0].number >2;
                }
            },
            show_right_dots(){
                if(this.links.length == 0) {
                    return false;
                } else {
                    return this.links[this.links.length-1].number < (this.pagination.last_page-1)
                }
            }
        },
        created() {
            let page = this.$route.query.page || 1;
            this.$store.dispatch('user/getAllUsers', page);
        }
    }
</script>
